select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= CAST('1993-07-01' AS datetime)
	and o_orderdate < DATEADD(MONTH, 3, '1993-07-01')
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
	)
group by
	o_orderpriority
order by
	o_orderpriority;