select
	sum(l_extendedprice * l_discount) as revenue
from
	lineitem
where
	l_shipdate >= CAST('1994-01-01' AS datetime)
	and l_shipdate < DATEADD(YEAR, 1, '1994-01-01')
	and l_discount between .06 - 0.01 and .06 + 0.01
	and l_quantity < 24;